<%- include('header'); -%>

<h1 style="text-align: center; color: black;">About Me</h1>

<p style="text-align: center;">I'm a Web Developer who is an enthusiast in creating new and innovative Projects</p>

<%- include('footer'); -%>
